@media (min-width: 64rem) {

    /* Layout Container */
    body {
        max-width: 1200px;
        margin: 0 auto;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* Header */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    /* Navigation */
    #menu-button {
        display: none;
    }

    nav {
        background-color: transparent;
        margin-top: 0;
        width: auto;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    nav a {
        background-color: transparent;
        color: var(--text-color);
        padding: 0.5rem 1rem;
        font-weight: 700;
        border: none;
    }

    nav a:hover {
        color: var(--secondary-color);
        background-color: transparent;
        text-decoration: underline;
        text-decoration-color: var(--primary-color);
        text-decoration-thickness: 3px;
    }

    nav a.active {
        background-color: transparent;
        color: var(--primary-color);
        border-left: none;
        border-bottom: 3px solid var(--secondary-color);
    }

    /* Directory Grid */
    .grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    /* Hero */
    .hero {
        position: relative;
    }

    .hero-text {
        position: absolute;
        top: 20%;
        left: 5%;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 2rem;
        width: 40%;
        border-left: 5px solid var(--secondary-color);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* Footer */
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        text-align: left;
        padding: 1rem;
    }

    .contact-info {
        text-align: left;
    }

    .social-icons {
        justify-content: center;
    }

    .dev-info {
        text-align: left;
        padding-left: 2rem;
    }
}