/* Mobile Navigation */
#menu-button {
    font-size: 2rem;
    border: 0;
    background: none;
    color: var(--primary-color);
    cursor: pointer;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu-button::before {
    content: "☰";
}

#menu-button.open::before {
    content: "✖";
}

nav {
    background-color: var(--primary-color);
    width: 100%;
}

nav ul {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.open {
    display: block;
}

nav a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--card-bg);
    transition: all 0.3s;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

nav a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

nav a.active {
    background-color: rgba(0, 0, 0, 0.2);
    color: var(--secondary-color);
    font-weight: 700;
    border-left: 4px solid var(--secondary-color);
}

/* Desktop Navigation */
@media (min-width: 64rem) {
    #menu-button {
        display: none;
    }

    nav {
        background-color: transparent;
        margin-top: 0;
    }

    nav ul {
        display: flex !important;
        justify-content: flex-end;
        gap: 1rem;
    }

    nav a {
        background-color: transparent;
        color: var(--text-color);
        padding: 0.5rem 1rem;
        font-weight: 700;
        border: none;
    }

    nav a:hover {
        color: var(--primary-color);
        text-decoration:none;
        text-decoration-thickness: 3px;
    }

    nav a.active {
        background-color: transparent;
        color: var(--primary-color);
        border-left: none;
        border-bottom: 3px solid var(--secondary-color);
    }
}